svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

svg text::selection {
    background: none;
}

svg #r-br-logo, svg #l-br-logo {
    transition: transform .5s;
}

svg:hover #l-br-logo {
    transform: translate(-10px, 53.643px);
}

svg:hover #r-br-logo {
    transform: translate(10px, 53.643px);
}

@font-face {
    font-family: "Erica Type";
    src: url('../assets/Erika Type.ttf');
}
